# EditorConfig is awesome: https://EditorConfig.org
root = true

# Defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 2

# Asciidoc files
[*.{adoc,asciidoc}]
indent_style = space
max_line_length = 80
indent_size = 4
trim_trailing_whitespace = true

# Documentation files
[*.{md,rdoc,txt}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Code Samples
[*.md]
max_line_length = 80
indent_size = 2

[*.py]
indent_size = 4
indent_style = space

[*.{js,jsx,ts,tsx}]
indent_size = 4
indent_style = tab

[*.json]
indent_size = 2
indent_style = tab

[*.sh]
indent_size = 2

[*.json]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.xml]
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

# Exclude directories
[.git/**]
[.venv/**]
[.idea/**]
[.vscode/**]
[publish/**]
